:root {
  --font-dark: #2b283a;
  --primary: #5f29a3;
  --secondary: #d0aaff;
  --thirdly: #f0e0ff;
  --font-light: whitesmoke;
  --accent: #ef5839;
  --active: #d4b44c;
  --highlight: #ec907d;
}

body {
  background-color: var(--font-dark);
  color: var(--font-light);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

::selection {
  background: var(--highlight);
  color: var(--font-dark);
}

h2::selection {
  background: var(--active);
  color: var(--font-dark);
}

header {
  background-color: var(--primary);
  padding-bottom: 45px;
  padding-top: 45px;
}

h1 {
  color: var(--font-light);
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  margin: 0;
}

h2 {
  background-color: var(--highlight);
  color: var(--font-dark);
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
}

h3 {
  color: var(--secondary);
  font-size: 1.25rem;
  margin: 0;
}

p {
  color: var(--font-light);
  font-size: 1rem;
  line-height: 1.5rem;
}

.section-two {
  background-color: var(--primary);
  color: var(--font-light);
}

.section-one {
  background: url(images/circle-scatter-haikei.svg) no-repeat center;
  display: block;
}

section {
  padding-bottom: 45px;
  padding-top: 45px;
}

.main-image {
  width: 100%;
}

a {
  color: var(--accent);
  text-decoration: underline dotted;
  text-underline-offset: 3px;
}

a:hover {
  color: var(--active);
}

.container {
  margin: 0 auto;
  width: 620px;
}

.section-two-image {
  border-radius: 5px;
  width: 300px;
}

.container-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 620px;
}

footer {
  background: url(images/layered-waves-haikei.svg) no-repeat center;
  color: var(--primary);
  font-weight: 500;
  padding: 45px 0;
  text-align: center;
}

.btn-dark {
  background-color: var(--primary);
  color: var(--font-light);
}

.btn-mid {
  background-color: var(--thirdly);
  color: var(--primary);
}

.btn-light {
  background-color: var(--font-light);
  color: var(--primary);
}

a:hover,
a:focus {
  background: var(--active);
  color: var(--primary);
}

.btn {
  border-radius: 4.6px;
  display: inline-block;
  font-weight: 500;
  margin: 10px;
  padding: 10px 19px;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: var(--active);
  color: var(--primary);
}
