:root {
  --font-dark: #2b283a;
  --primary: #5f29a3;
  --secondary: #d0aaff;
  --thirdly: #f0e0ff;
  --font-light: whitesmoke;
  --accent: #ef5839;
  --active: #d4b44c;
  --highlight: #ec907d;
}

body {
  background-color: var(--font-dark);
  color: var(--font-light);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

::selection {
  background: var(--highlight);
  color: var(--font-dark);
}

h2::selection {
  background: var(--active);
  color: var(--font-dark);
}

header {
  background-color: var(--primary);
}

h1 {
  color: var(--font-light);
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  margin: 0;
}

h2 {
  background-color: var(--highlight);
  color: var(--font-dark);
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 1.375rem;
  margin-top: 0;
}

.subheading {
  color: var(--secondary);
  display: block;
  font-size: 1.125rem;
  margin: 0;
}

p {
  color: var(--font-light);
  font-size: 1rem;
  line-height: 1.5;
}

.section-two {
  background-color: var(--primary);
  color: var(--font-light);
}

.section-one {
  background: url(images/circle-scatter-haikei.svg) no-repeat center;
  display: block;
}

.main-image {
  display: block;
  margin: 0 auto 2rem;
  max-width: 800px;
  min-width: 360px;
  width: 100%;
}

a {
  color: var(--accent);
  text-decoration: underline dotted;
  text-underline-offset: 3px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

header,
section,
footer {
  padding: 1.25rem 0;
}

footer {
  background: url(images/layered-waves-haikei.svg) no-repeat center;
  color: var(--primary);
  font-weight: 500;
  text-align: center;
}

.btn-dark {
  background-color: var(--primary);
  color: var(--font-light);
}

.btn-mid {
  background-color: var(--thirdly);
  color: var(--primary);
}

.btn-light {
  background-color: var(--font-light);
  color: var(--primary);
}

a:hover,
a:focus {
  background: var(--active);
  color: var(--primary);
}

.btn {
  border-radius: 5px;
  display: block;
  font-weight: 500;
  margin: 0.625rem 0;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: var(--active);
  color: var(--primary);
}

.feature-image {
  border-radius: 5px;
  width: 100%;
}

.section-two-image {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.feature-item {
  flex-basis: 200px;
  flex-grow: 1;
}

/* ----- NAVIGATION ----- */

nav a {
  color: #fff;
  display: block;
  font-size: 1.125rem;
  padding: 1.125rem 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  header {
    text-align: center;
  }

  nav a {
    margin-top: 1.5rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #a190b6;
  }
}

@media (min-width: 768px) {
  header,
  section,
  footer {
    padding: 2.875rem 0;
  }

  .btn {
    display: inline-block;
    margin: 0.625rem 0.625rem 0.625rem 0;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .subheading {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.125rem;
  }

  header .container,
  nav ul {
    display: flex;
  }

  header .container {
    align-items: center;
    justify-content: space-between;
  }

  nav li {
    margin-left: 1.25em;
  }

  .nav-item:hover,
  .nav-item:focus {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }
  .nav-item:active {
    color: var(--active);
  }
}
